<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>
    What chat room would you like to enter?<br>
    <input id="room-name-input" type="text" size="100" placeholder="Enter room name"><br> <!-- Updated input for room name -->
    Username:<br> 
    <input id="username-input" type="text" size="100" placeholder="Enter username"><br> <!-- Added input for username -->
    <input id="room-name-submit" type="button" value="Enter">

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.key === 'Enter') {
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            var username = document.querySelector('#username-input').value; // Get username value
            window.location.pathname = '/chat/' + roomName + '/' + username; // Pass username in URL
        };
    </script>
</body>
</html>


