<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>
    Whom would you like to text?<br>
    <input id="receiverid-input" type="text" size="100" placeholder="Enter receiver ID"><br> <!-- Updated input for receiver ID -->
    <input id="receiverid-submit" type="button" value="Enter">

    <script>
        document.querySelector('#receiverid-input').focus();
        document.querySelector('#receiverid-input').onkeyup = function(e) {
            if (e.key === 'Enter') {
                document.querySelector('#receiverid-submit').click();
            }
        };

        document.querySelector('#receiverid-submit').onclick = function(e) {
            var receiverId = document.querySelector('#receiverid-input').value;
            window.location.pathname = '/chat/' + receiverId; // Pass only receiver ID in URL
        };
    </script>
</body>
</html>



