<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <title>Chatty</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-6 offset-3 mb-6">
                <div class="hero bg-primary text-white p-4">
                    <h1 class="title">
                        Chatty
                    </h1>
                    <p class="subtitle">
                        A simple chat built with Django, Channels and Redis
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4 offset-4">
                <div class="form-group">
                    <label for="room-name-input">Room name</label>
                    <input class="form-control" type="text" placeholder="Room name" id="room-name-input">
                </div>

                <div class="form-group">
                    <label for="username-input">Username</label>
                    <input class="form-control" type="text" placeholder="Username" id="username-input">
                </div>

                <div class="form-group">
                    <button class="btn btn-info" id="room-name-submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.querySelector('#room-name-input').focus();

    document.querySelector('#room-name-submit').onclick = function(e) {
        var roomName = document.querySelector('#room-name-input').value;
        var userName = document.querySelector('#username-input').value;

        window.location.replace(roomName + '/?username=' + userName);
    };
</script>
</body>
</html>
